#schema{
    border:none;
    border-collapse: collapse;
    border-spacing: 0;
    padding:0;
    font-family:MyriadPro;
}
#schema td:first-child{
    width:180px;
}
#courseSchema{
    margin-left: 50px;
}
#courseName{
    text-align: center;
    background-color:#a4c2f4;
    height: 58px;
}
#schema td.monthTitle {
    text-align: right;
    border: none;
    color:#4b75a4;
    padding-right: 7px;
}
.fullMonthsCell{
    background-color:#cdffcc;
}
.emptyMonthsCell, .fullMonthsCell, .examCell, .examCellE, .examCellP, .trainee, .lastCell{
    width: 50px;
    height: 58px;
    text-align: center;
}
.monthsCell{
    width: 50px;
    height: 30px;
    text-align: center;
}
.examCellE,.examCell{
    background-color:#ffcccb;
    color:red;
}
.examCellP{
    background-color:#4b75a4;
    color:blue;
}
.trainee{
    background-color: #ffcc80;
}
.lastCell{
    background-color:#f6f6f6;
}
#saveButton{
    display: inline-block;
    position: relative;
    width: 160px;
    height: 40px;
    border-radius: 7px;
    border: none;
    border-top: 1px solid #9fb5ce;
    background: #4b75a4;
    box-shadow: 0px 2px 0px #7f7f7f;
    color:#ffffff;
    letter-spacing: 1px;
    margin-left: 250px;
    margin-bottom: 0;
    font-size: 16px;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
}

#saveButton a{
    color: #ffffff;
    text-decoration: none
}
@font-face {
    font-family: MyriadPro; /* Имя шрифта */
    src: url(../../../font/myriadpro/regular.otf); /* Путь к файлу со шрифтом */
}
body{
    font-family: "MyriadPro";
}
.item-data-wrap{
    cursor: pointer;
    color: white;
    position: absolute;
    top: 60%;
    left: 36%;
}
.logo-course-wrap{
    float: left;
}
.title-course{
    display: inline-block;
    margin-bottom: 0;
}
.courseLevelIndex{
    display: inline-block;
}
.logo-module{
    max-width: 52px;
    margin-left: 24px;
    margin-top: -4%;
}
.monthsCell{
    background: #4b75a4;
    color: white;
    border: 1px solid grey;
}
.fullMonthsCell{
    background: none;
}
.examCellE{
    background: none;
    position: relative;
}
.lastCell{
    background: none;
}
.item{
    background: url(../../images/module/5.png);
    background-repeat: no-repeat;
    background-position-y: 72%;
    background-position-x: -7px;
    position: relative;
}
.first-item{
    width: 45px;
    background: url(../../images/module/2.png);
    background-repeat: no-repeat;
    background-position-y: 72%;
    background-position-x: -2px;
    position: relative;
}
.last-item{
    background: url(../../images/module/last-item.png);
    background-repeat: no-repeat;
    background-position-y: 72%;
    background-position-x: -6px;
    border-right: 1px solid #999999;
    position: relative;
}
.first-item-without{
    background: url(../../images/module/first-item-without.png);
    background-repeat: no-repeat;
    background-position-y: 72%;
    background-position-x: -2px;
}
.wrap-info{
    margin-left: 124px;
    margin-top: -9px;
    margin-bottom: 9px;
}
.yellow-tooltip + .tooltip > .tooltip-inner {background-color: #fff59d;color: black;}
.tooltip-inner {
    border: solid 1px #ccc;
}

.border-right{
    border-right: 1px solid #999999;
}
.border-right-exam{
    border-right: 1px solid #999999;
}
.end{
    width: 10px;
    color: #273241;
    font-size: 12px;
    font-family: "MyriadPro";
    padding-left: 10px;
    position: absolute;
    top: 60%;
}
.last-item-off-background{
    background: none;
}
.trainee-item{
    background: url(../../images/module/6.png);
    background-repeat-y: no-repeat;
    background-position-y: 72%;
    background-position-x: -7px;
    text-align: center;
    color: white;
    position: relative;
}
.trainee-first-item{
    background: url(../../images/module/trainee-item.png);
    background-repeat: no-repeat;
    background-position-y: 72%;
    text-align: center;
    color: white;
    position: relative;
}
.trainee-item div, .trainee-last-item-text, .trainee-first-item div{
    top: 59%;
    left: 39%;
}
.trainee-last-item{
    background: url(../../images/module/trainee-item-trainee.png);
    background-repeat: no-repeat;
    background-position-y: 72%;
    background-position-x: -6px;
    text-align: center;
    color: white;
    position: relative;
}
#schema .emptyMonthsCell {
    background: url(../../images/module/red-line.png);
    background-repeat-y: no-repeat;
    background-position-y: 69%;
}
.examCellE ~ .emptyMonthsCell{
    background: none !important;
}
#trainee-wrap .examCellE,  #trainee-wrap .emptyMonthsCell,#trainee-wrap .fullMonthsCell {
    background: url(../../images/module/yellow-line.png) !important;
    background-repeat-y: no-repeat !important;
    background-position-y: 69% !important;
}
tr .hours{
    background-repeat-y: no-repeat;
    background-position-y: center;
    background-repeat: no-repeat;
    background-position-y: 69%,65px;
    background-position-x: 38px,24px;
    padding-top: 16px;
    padding-bottom: 16px;
}
#schema tr:not(:first-child):nth-child(odd){
    background: #f5f5f5;
}
.coub{
    background: url(../../images/module/coub.png);
    height: 30px;
    background-repeat: no-repeat;
    position: relative;
    cursor: pointer;
    width: 30px;
    left: 11px;
}
.coub-tooltip{
    position: relative;
    top: -94px;
    left: 26px;
}
.trainee-last-item .coub-tooltip{
    top: -100px;
}
.coub-exam{
    background: url(../../images/module/exam.png);
    height: 40px;
    background-repeat: no-repeat;
    position: relative;
    left: 6px;
    cursor: pointer;
    width: 45px;
}
.trainee-last-item-text{
    margin-bottom: -39px;
}
.logo-course-wrap img{
    width: 109px;
}
examCellE-witout-background{
    background: none;
}
.courseLevelBox{
    color:  #4b75a4;
    font-weight:  700;
    font-family: "MyriadPro";
    font-size: 18px;
}
.colorP{
    color:  #4b75a4;
    font-family: "MyriadPro";
    font-size: 18px;
}
.grey{
    color: #666666;
    font-family: "MyriadPro";
    font-size: 18px;
}
#schema .monthTitle{
    background: url(../../images/module/begin_line.png);
    background-repeat: no-repeat;
    text-align: center;
    background-position-x: 1px;
    background-size: cover;
    position: absolute;
    top: 0;
    width: 179px;
    height: 31px;
}
.end-line{
    width: 68px;
    height: 30px;
    background: url(../../images/module/end_line.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position-x: -33px;
    position: absolute;
    top: 0;
}
.end-line-wrap{
    border-bottom: 1px solid grey;
    width: 60px;
    position: relative;
}
.monthTitle-wrap{
    position: relative;
}
.hours p{
    font-size: 12px;
    padding-left: 24px;
    margin-bottom: 0;
}
.exam-wrap{
    position: relative;
}
.trainee{
    text-align: left;
    padding-top: 26px;
    padding-bottom: 16px;
    background: url(../../images/module/yellow-line.png);
    background-repeat-y: no-repeat;
    background-position-y: center;
    background-repeat: no-repeat;
    background-position-y: 69%,65px;
    background-position-x: 38px,24px;
}
.trainee p{
    font-size: 12px;
    padding-left: 24px;
    margin-bottom: 0;
}
.tooltip.top .tooltip-arrow {
    top: 92%;
}
.tooltip-inner{
    min-width: 107px;
}
.title-line{
    background: url(../../images/module/title_line.png);
    background-repeat: no-repeat;
    background-position-x: -7px;
    background-position-y: 4px;
    height: 22px;
    width: 157px;
    display: block;
}
.trainee-last-item:first-child .item-data-wrap{
    top: -100px;
}
@media screen and (max-width: 1048px){
    .coub{
        left: 4px;
    }
}