# ignore files

.idea/
/.vagrant
/protected/runtime/*
/forum/cache/*
/assets/*
/files
protected/views/site/error.php
content/*
/mail
/images
/protected/vendor/*
/angular/bower_components/*
/test/
/docker_data
/.env
