<div ng-controller="bannersBootboxCtrl">
<input type="file" nv-file-select="" uploader="bannerUploader">
<table class="table">
    <thead>
    <tr>
        <th width="20%">Файл</th>
        <th ng-show="bannerUploader.isHTML5">Розмір</th>
        <th ng-show="bannerUploader.isHTML5">Прогрес</th>
        <th>Дії</th>
    </tr>
    </thead>
    <tbody>
    <tr ng-repeat="item in bannerUploader.queue">
        <td>
            <strong>{{ item.file.name }}</strong>
        </td>
        <td ng-show="bannerUploader.isHTML5" nowrap>{{ item.file.size/1024/1024|number:2 }} MB</td>
        <td ng-show="bannerUploader.isHTML5">
            <div class="progress" style="margin-bottom: 0;">
                <div class="progress-bar" role="progressbar" ng-style="{ 'width': item.progress + '%' }"></div>
            </div>
        </td>
        <td nowrap>
            <button type="button" class="btn btn-success btn-xs" ng-click="item.upload()" ng-disabled="item.isReady || item.isUploading || item.isSuccess">
                <span class="glyphicon glyphicon-upload"></span> Завантажити
            </button>
            <button type="button" class="btn btn-danger btn-xs" ng-click="item.remove()">
                <span class="glyphicon glyphicon-trash"></span> Скасувати
            </button>
        </td>
    </tr>
    </tbody>
</table>
</div>