<style>
.main_settings{
    background-color: #dbe3ed;
}
.title{

}
.group{
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 10px;
    margin-right: 10px;
    height: 50px;
}
.square{
    padding-right: 0px;
    padding-left: 0px;

}
.in_square{
    width:35px;
    height:35px;
}
.rectangle{
    margin-top:2px;
    padding-right:2px;
    padding-left:2px;
    padding-top: 2px;
    padding-bottom: 2px;
 }
.in_rectangle{
    padding-right:5px;
    padding-left:5px;
    width: 90px;
}
.intent{
    margin-top:6px;
    padding-right: 0px;
    padding-left: 0px;


}
.in_intent{
    margin-left: 10px;
    margin-right: 10px;

}

</style>

<div class="main_settings" ng-controller="cmsGeneralSettingsCtrl">
    <label><h2>Головні налаштування</h2></label>
    <div class="settings_container">
        <div class="row title"><h3 class="col-md-12">Загальні налаштування </h3>
        </div>


        <div class="row " >
            <div class="col-md-6 col-sm-12"  >
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.title_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle"  ng-model="settings.title_color" color-picker color-picker-model="settings.title_color" type="text">
                    </div>
                    <div class="col-md-6 intent" style=" font-size: 34px; margin-top: -1px;">
                        <p class="in_intent"  ng-style="{color:settings.title_color}" >Title color</p></div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.subtitle_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.subtitle_color" color-picker color-picker-model="settings.subtitle_color" type="text">
                    </div>
                    <div class="col-md-6 intent" style=" font-size: 24px;" >
                        <p class="in_intent" ng-style="{color:settings.subtitle_color}">Subtitle color</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6 col-sm-12"  >
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.general_link_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.general_link_color" color-picker color-picker-model="settings.general_link_color" type="text" >
                    </div>

                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{color:settings.general_link_color}" >General link color</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.general_hover_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.general_hover_color" color-picker color-picker-model="settings.general_hover_color" type="text" >
                    </div>


                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{color:settings.general_hover_color}">General hover color</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 col-sm-12"  >
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.text_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.text_color" color-picker color-picker-model="settings.text_color" type="text" >
                    </div>

                    <div class="col-md-6 intent" style="font-size: 16px;">
                        <p class="in_intent" ng-style="{color:settings.text_color}" >Text color</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
            </div>
        </div>

        <div class="row title"><h3 class="col-md-12">Налаштування контенту</h3>
        </div>
        <div class="row ">
            <div class="col-md-6 col-sm-12"  >
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.about_us_background_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.about_us_background_color" color-picker color-picker-model="settings.about_us_background_color" type="text">
                    </div>

                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{'background-color':settings.about_us_background_color}" >About us background color</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.news_background_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.news_background_color" color-picker color-picker-model="settings.news_background_color" type="text" >
                    </div>


                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{'background-color':settings.news_background_color}">News background color</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="row ">
            <div class="col-md-6 col-sm-12"  >
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.news_image_border_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.news_image_border_color" color-picker color-picker-model="settings.news_image_border_color" type="text">
                    </div>

                    <div class="col-md-6 intent" style=" "
                    >
                        <p class="in_intent" ng-style="{'border-color':settings.news_image_border_color, 'border-style': 'solid', 'border-width': 'thin'}" >News image border color</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.news_text_box_shadow_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle"  ng-model="settings.news_text_box_shadow_color" color-picker color-picker-model="settings.news_text_box_shadow_color" type="text" >
                    </div>


                    <div class="col-md-6 intent">
                        <p class="in_intent" style="box-shadow: 0 0 5px {{settings.news_text_box_shadow_color}}">News text border shadow color</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row title"><h3 class="col-md-12">Налаштування хедера</h3>
        </div>
        <div class="row ">
            <div class="col-md-6 col-sm-12"  >
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.header_background_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle"  ng-model="settings.header_background_color" color-picker color-picker-model="settings.header_background_color" type="text" >
                    </div>

                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{'background-color':settings.header_background_color}" >header_background_color</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.header_link_color  ">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.header_link_color  " color-picker color-picker-model="settings.header_link_color" type="text" >
                    </div>


                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{color:settings.header_link_color}">header_link_color  </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 col-sm-12"  >
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.header_hover_color  ">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.header_hover_color" color-picker color-picker-model="settings.header_hover_color" type="text">
                    </div>

                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{color:settings.header_hover_color}" >header_hover_color</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.header_border_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.header_border_color" color-picker color-picker-model="settings.header_border_color" type="text">
                    </div>


                    <div class="col-md-6 intent" ng-style="{'border-color':settings.header_border_color, 'border-style': 'solid', 'border-width': 'thin'}">
                        <p class="in_intent" >header_border_color</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row title"><h3 class="col-md-12">Налаштування футера</h3>
        </div>
        <div class="row ">
            <div class="col-md-6 col-sm-12"  >
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.footer_background_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle"  ng-model="settings.footer_background_color" color-picker color-picker-model="settings.ooter_background_color" type="text" >
                    </div>

                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{'background-color':settings.footer_background_color}" >Footer background color</p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.footer_link_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.footer_link_color  " color-picker color-picker-model="settings.footer_link_color" type="text" >
                    </div>

                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{color:settings.footer_link_color}">Footer link color  </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 col-sm-12"  >
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.footer_hover_color    ">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.footer_hover_color  " color-picker color-picker-model="settings.footer_hover_color  " type="text">
                    </div>

                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{color:settings.footer_hover_color  }" >Footer hover color  </p>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-sm-12">
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.footer_border_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.header_border_color" color-picker color-picker-model="settings.footer_border_color" type="text">
                    </div>


                    <div class="col-md-6 intent" ng-style="{'border-color':settings.footer_border_color, 'border-style': 'solid', 'border-width': 'thin'}">
                        <p class="in_intent" >Footer border color</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row ">
            <div class="col-md-6 col-sm-12"  >
                <div class="row group" >
                    <div  class="col-md-2 square" >
                        <input  class="in_square" type="color" ng-model="settings.icon_shadow_color">
                    </div>
                    <div class="col-md-4 rectangle" >
                        <input class="in_rectangle" ng-model="settings.icon_shadow_color" color-picker color-picker-model="settings.icon_shadow_color" type="text">
                    </div>

                    <div class="col-md-6 intent">
                        <p class="in_intent" ng-style="{color:settings.icon_shadow_color}" >Icon_shadow_color</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-sm-12">
            </div>
        </div>


    </div>
</div>
