<div class="modal fade" id="newsModal" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Додати новину</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-link">
                    <div class="grid_group_add_news box ">
                        <div class="">
                            <p class="in_intent_news">Заголовок</p>
                        </div>
                        <div class="rectangle">
                            <input type="text" class="form-control" placeholder="Заголовок"
                                   ng-model="newNews.title">
                        </div>
                    </div>
                    <div class="grid_group_add_news box ">
                        <div class="  ">
                            <p class="in_intent_news">Зображення</p>
                        </div>
                        <div class="rectangle news_img ">
                            <input id="photo" enctype="multipart/form-data" type="file"
                                   class="form-control  rectangle_news" placeholder="Фото новини"
                                   name="photo">
                        </div>
                    </div>
                    <div class="grid_group_add_news box ">
                        <div class=" ">
                            <p class="in_intent_news">Контент</p>
                        </div>
                        <div class="rectangle">
                            <textarea class="form-control" placeholder="Текст новини"
                                      ng-model="newNews.text" style="resize: none"></textarea>
                        </div>
                    </div>
                    <div class="third_line box row">
                        <div class="col-md-12 buttons_box">
                            <a href="javascript:void(0)">
                                <button class="btn btn-primary" title="Зберегти" aria-hidden="true"
                                        ng-click="updateNews(newNews)">Зберегти
                                </button>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>