<div class="form-group form-link" ng-controller="cmsNewsCtrl">
    <p>Повернутися до <a class="text-right" href="#/admin/intita_cms">Конструктора сайту</a></p>


    <div class="box_out" >
        <div class="row box_inside"   >
            <div class="col-md-3 col-sm-4 img_out img_out_left" >
                <div class="img_news_box1">
                    <input id="photo" enctype="multipart/form-data" type="file"  class="form-control photoUpdate" placeholder="Фото новини" name="photo">
                </div>
            </div>
            <div class=" col-md-9 col-sm-8 text_out_left">
                <div class="title_news_left box_new">
                    <div class=" display_inl_bl  ">
                        <input type="text" class="form-control" placeholder="Заголовок" ng-model="newNews.title">
                    </div>
                </div>

                <div   class="box_new ">
                    <div class=" box_text " >
                        <textarea class="form-control" placeholder="Текст новини" ng-model="newNews.text" style="resize: none"></textarea>
                    </div>
                </div>
            </div>
        </div>
        <div class="edit_line box row">
            <div class="safe_new">
                <button  class="btn btn-primary"  title="Зберегти" data-dismiss="modal" aria-hidden="true" ng-click="updateNews(newNews)" >Зберегти</button>
            </div>
        </div>
    </div>
    <div class="">
        <hr>
    </div>

    <label>Список новин</label>
    <div ng-repeat="new in news track by $index" >
        <div class="box_out" >
            <div class="row box_inside"  >
                <div class="col-md-3 col-sm-4 img_out img_out_left" >
                    <div class="img_news_box1">
                        <img src='{{new.id && domainPathNews+ new.img || new.img}}' class="img_news preview"  >
                        <input id="photoUpdate{{$index}}" enctype="multipart/form-data" type="file" class="form-control photoUpdate" placeholder="Фото новин" name="photo">
                    </div>
                </div>
                <div class=" col-md-9 col-sm-8 text_out_left">
                    <div class="title_news_left box_new">
                        <div class=" display_inl_bl  ">
                            <input type="text" class="form-control" placeholder="Заголовок" ng-model="new.title">
                        </div>
                    </div>
                    <div class=" text-date_left box_new">
                        <input type="text" class="form-control" placeholder="Дата" ng-model="new.date">
                    </div>
                    <div   class="box_new ">
                        <div class=" box_text " >
                            <textarea class="form-control news_textarea" placeholder="Текст новини" ng-model="new.text" style="resize: none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="edit_line box row">
                <div class="delete_new ">
                    <a href="javascript:void(0)">
                        <i class="fa fa-trash " title="Видалити" aria-hidden="true" ng-click="removeNews(new.id,new.img)"></i>
                    </a>
                </div >
                <div class="safe_new">
                    <button  class="btn btn-primary"  title="Зберегти" aria-hidden="true" ng-click="updateNews(new,$index,new.img)" >Зберегти</button>

                </div>
            </div>
        </div>
        <div class="">
            <hr>
        </div>
    </div>
</div>

<style>
    .preview{
        width: 200px;
    }
    .img_news {
        max-width: 100%;
        max-height: 100%;
    }
    .photoUpdate{
        width: 121px;
        padding-left: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        height: 23px;
        margin-top: 5px;
    }
    .news_textarea{
        /*margin-left: 15px;*/
    }
    .text_out_left{
        padding-right: 50px;
    }
    .edit_line {
        padding-right: 50px;
        float: right;
        display: flex;
        justify-content: flex-end;
    }
    .delete_new, .safe_new{
        margin-left: 20px;
        margin-right: 20px;
    }
    .box_out{
        margin-bottom: 45px;
    }
    .box_new{
        margin-bottom: 10px;
    }
</style>