<div class="modal fade" id="newsModalLeft{{index}}" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" id="news_editLeft">Редактор новин</h4>
            </div>
            <div class="modal-body">Список пунктів меню
                <div class="form-group form-link">
                    <div class="grid_news box ">
                        <div class="">
                            <p class="position_left">Заголовок</p>
                        </div>
                        <div class="">
                            <input type="text" class="form-control" ng-model="new.title">
                        </div>
                    </div>
                    <div class="grid_news box ">
                        <div class=" ">
                            <p class="position_left" ng-style="{color:settings.text_color}">
                                Колір тексту</p>
                        </div>
                        <div class="grid_news">
                            <div class="square ">
                                <input class="in_square position_left" type="color"
                                       ng-model="settings.text_color">
                            </div>
                            <div class="rectangle">
                                <input class="in_rectangle position_left"
                                       ng-model="settings.text_color" color-picker
                                       color-picker-model="settings.text_color" type="text">
                            </div>
                        </div>
                    </div>
                    <div class="grid_news box ">
                        <div class="  ">
                            <p class="position_left">Зображення</p>
                        </div>
                        <div class="image_news">
                            <img class="preview"
                                 ng-src='{{new.id && subDomainPath + "/news/" + new.img || new.img}}'>
                            <input id="photoUpdate{{index}}" enctype="multipart/form-data"
                                   type="file" class="form-control image_input photoUpdate"
                                   placeholder="Фото новин" name="photo">
                        </div>
                    </div>
                    <div class="grid_news box ">
                        <div class=" ">
                            <p class="position_left">Текст новини</p>
                        </div>
                        <div class="">
                            <textarea class="form-control" ng-model="new.text"
                                      style="resize: none"></textarea>
                        </div>
                    </div>
                    <div class="grid_news box ">
                        <div class=" ">
                            <p class="position_left">Дата</p>
                        </div>
                        <div class="">
                            <input type="text" class="form-control" placeholder="Дата"
                                   ng-model="new.date">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            ng-click="removeNews(new.id, new.img)">Видалити
                    </button>
                    <button type="button" class="btn btn-primary" data-dismiss="modal"
                            ng-click="updateSettings(settings); updateNews(new, index)">
                        Зберегти
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>