<div class="modal fade" id="socialNetworksModal" role="dialog">
    <div class="modal-dialog ">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Соціальні мережі</h4>
            </div>
            <div class="modal-body">
                <div class="form-group form-link">
                    <div class="grid_group_color">
                        <div class=" intent">
                            <p class="in_intent">Колір іконок:</p>
                        </div>
                        <div class=" square">
                            <input class="in_square" type="color" ng-model="settings.icon_shadow_color">
                        </div>
                        <div class=" rectangle">
                            <input class="in_rectangle form-control"
                                   ng-model="settings.icon_shadow_color" color-picker
                                   color-picker-model="settings.icon_shadow_color" type="text">
                        </div>
                    </div>
                    <div class=" grid">
                        <div class=" ">
                            <div class="intent-img"
                                 ng-style="{'border-radius': '15px', 'background-color': settings.icon_shadow_color}">
                                <a href="{{settings.twitter}}" target="_blank" title="Twitter">
                                    <img src="http://intita.com/images/mainpage/twitter.png">
                                </a>
                            </div>
                        </div>
                        <div class=" rectangle">
                            <input class="in_rectangle_soc form-control" type="text"
                                   placeholder="Введіть посилання на сторінку"
                                   ng-model="settings.twitter">
                        </div>
                    </div>
                    <div class=" grid">
                        <div class="">
                            <div class="intent-img"
                                 ng-style="{'border-radius': '15px', 'background-color': settings.icon_shadow_color}">
                                <a href="{{settings.youtube}}" target="_blank" title="Youtube">
                                    <img src="http://intita.com/images/mainpage/youtube.png">
                                </a>
                            </div>

                        </div>
                        <div class=" rectangle">
                            <input class="in_rectangle_soc form-control"
                                   placeholder="Введіть посилання на сторінку" type="text"
                                   ng-model="settings.youtube">
                        </div>
                    </div>
                    <div class=" grid">
                        <div class=" ">
                            <div class="intent-img"
                                 ng-style="{'border-radius': '15px', 'background-color': settings.icon_shadow_color}">
                                <a href="{{settings.google}}" target="_blank" title="Google+">
                                    <img src="http://intita.com/images/mainpage/googlePlus.png">
                                </a>
                            </div>

                        </div>
                        <div class=" rectangle">
                            <input class="in_rectangle_soc form-control"
                                   placeholder="Введіть посилання на сторінку" type="text"
                                   ng-model="settings.google">
                        </div>
                    </div>
                    <div class=" grid">
                        <div class=" ">
                            <div class="intent-img"
                                 ng-style="{'border-radius': '15px', 'background-color': settings.icon_shadow_color}">
                                <a href="{{settings.facebook}}" target="_blank" title="Facebook">
                                    <img src="http://intita.com/images/mainpage/facebook.png">
                                </a>
                            </div>

                        </div>
                        <div class=" rectangle">
                            <input class="in_rectangle_soc form-control"
                                   placeholder="Введіть посилання на сторінку" type="text"
                                   ng-model="settings.facebook">
                        </div>
                    </div>
                    <div class=" grid">
                        <div class=" ">
                            <div class="intent-img"
                                 ng-style="{'border-radius': '15px', 'background-color': settings.icon_shadow_color}">
                                <a href="{{settings.linkedin}}" target="_blank" title="Linkedin">
                                    <img src="http://intita.com/images/mainpage/inl.png">
                                </a>
                            </div>

                        </div>
                        <div class=" rectangle">
                            <input class="in_rectangle_soc form-control"
                                   placeholder="Введіть посилання на сторінку" type="text"
                                   ng-model="settings.linkedin">
                        </div>
                    </div>
                    <div class=" grid">
                        <div class=" ">
                            <div class="intent-img"
                                 ng-style="{'border-radius': '15px', 'background-color': settings.icon_shadow_color}">
                                <a href="{{settings.instagram}}" target="_blank" title="Instagram">
                                    <img src="http://intita.com/images/mainpage/instagram.png">
                                </a>
                            </div>

                        </div>
                        <div class=" rectangle">
                            <input class="in_rectangle_soc form-control"
                                   placeholder="Введіть посилання на сторінку" type="text"
                                   ng-model="settings.instagram">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                        ng-click="updateSettings(settings, settings.logo )">Зберегти
                </button>
            </div>
        </div>
    </div>
</div>