.mainAboutBlock{
    margin: auto;
    text-align: center;
    width: 100%;
}
.header_about{
    color: #777;
}

.line1_about{
    margin-top: -25px;
}
.items_about {
    margin-right: 10px;
    margin-left: 10px;
}
.block_about{
    vertical-align: top;
    margin-top: 35px;
    text-align: left;
    padding-right: 5px;
    padding-left: 5px;
    display: inline-block;
    max-width: 250px;
    height:  80%;
}
.title_about{
    color: #4682B4;
    font-size: 22px;
}
.title_about p{
    margin-top: 5px;
    color: #696969;
    font-size: 16px;
    line-height: 18px;
}
.info_bot {
    border-bottom-width: 2px;
    border-bottom-style: solid;
    color: #4682B4;
    font-size: 19px;
}
#image_about{
    height: 150px;
    width: 240px;
    padding-left: 1px;
    padding-right: 1px
;
}
