#cms_content .header{
    border-bottom:2px solid #4b75a4;width: 100%;margin:0 auto; overflow: hidden;
    height: 100px;
}
#cms_content .header img{
    max-width: 100%;
}
#cms_content .nav>li>a{
    text-decoration: none;
    font-size: 18px;
    font-weight: normal;
    color: black;
    padding: 10px 6px;
}
#cms_content .nav>li>a:focus, .nav>li>a:hover {
    color: #003399;
    background-color: inherit;
}

#logo {
    max-width: 500px;
    max-height: 100px;
    padding-bottom: 5px;
}
.navbar .header_box{
    margin-left: 0px;
    margin-right: 0px;
}