html{font-family:"MyriadPro";}
.stepHeaderCont{
    margin-bottom: 60px;
}
.news_container{
    margin: 0px auto;
    max-width:1020px;
    }
.box_new {
    padding: 10px 50px 10px 50px;
    position:relative;
    padding-bottom:50px;
}
.box_inside .text_out_left{
    margin-left: -2px;
}
.box_out .box_inside, .box_out .box_inside_right{
    margin-bottom: 40px;
    padding-right: 0px;
    padding-left: 0px;
    background-color: #ffffff;
    margin-left: 0px;
    margin-right: 0px;
}

.container_n {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
}
.news_wrapper{
    padding-bottom: 10px;
    padding-top: 60px;
}
.box_new .box_text{
    margin-right: 0px;
    margin-left: 0px;
}
.text-date {
    float: right;
    position: absolute;
    bottom: 0px;
}
.text-date_left{
    right: 65px;
}
.info_bot{
    display: inline-table;
}
.img_news {
    max-width: 100%;
    max-height: 100%;
    /*margin-top: 1px;*/
}
.box_inside .img_out_left{
    padding-left: 1px;
    padding-right: 1px;

}
.box_inside_right .img_out_rigth{
    padding-right: 0px;
    padding-left: 0px;
}
.box_inside .img_news_box1, .box_inside_right .img_news_box2{

}
.box_out .box_inside_right{
    margin-right: 1px;
}
.text-primary {
    margin-top: 0px;
    font-size: 24px;
}
.text-muted{
    margin-bottom: 0px;
}
.grid-title2{
      display: grid;
      grid-template-columns: 8fr 1fr;
  }
.grid_group_title1{
    display: grid;
    grid-template-columns: 1fr;
}
.grid_group_title2{
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
}
.edit3{
    float: left;
}
.news_titles{
    margin-left: 120px;
}
@media(max-width:767px) {
    .news_titles{
        margin-left: 59px;
    }
}
@media(max-width:450px) {
    .news_titles{
        margin-left: 30px;
    }
}