#sliderBlock {margin-top: 3px}

#slider{z-index:0;}
.slide{height:100%;}
.slide div{height:100%;}
.slide p{position:absolute;font-size:28px;font-family:"MyriadPro";font-weight:200;color:white;text-shadow: 2px 2px 1px #000000;text-align:center;z-index:1;top:44%;}
.slide img{width:100%;height:100%;z-index:0;}

/*позиціонування пагінації*/
ol.carousel-indicators{position:absolute; width:140px; height:30px; top:15px; left:3%; margin-left: 0; text-align: left;}
/*сховати стрілки*/
a.carousel-control{display: none;}
